$bahama-blue: #245680;
$nepal-blue: #94aac0;
$true-white: #ffffff;
$jaffa-orange: #f38142;
$deep-sky-blue: #00b9f1;

$primary-background: $bahama-blue;
$primary-text: $true-white;
$secondary-background: $nepal-blue;
