@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Source+Sans+Pro:wght@400;600&display=swap');

@import 'typography.scss';
@import 'layout.scss';

@import 'error-toast.scss';
@import 'navigation.scss';
@import 'options.scss';
@import 'sections.scss';
@import 'sheet.scss';

* {
  box-sizing: border-box;
}

/* Sheet grid */
.sheet-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.sheet-grid__item--ability-scores {
  grid-column: 1;
  grid-row: 1 / 4;
}

.sheet-grid__item--skills {
  grid-column: 1;
  grid-row: 4 / 6;
}

.sheet-grid__item--initiative {
  grid-column: 2;
  grid-row: 1;
}

.sheet-grid__item--health-and-resolve {
  grid-column: 2;
  grid-row: 2;
}

.sheet-grid__item--armor-class {
  grid-column: 2;
  grid-row: 3;
}

.sheet-grid__item--saving-throws {
  grid-column: 2;
  grid-row: 4;
}

.sheet-grid__item--attack-bonuses {
  grid-column: 2;
  grid-row: 5;
}
