.sheet- {
  &navigation-grid {
    background-color: #245680;
    background-image: url('https://raw.githubusercontent.com/primarilysnark/roll20-starfinder-character-sheet/master/assets/header-background.svg');
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    list-style: none;
    margin: 0 0 1rem;
    padding: 0;
    position: relative;

    &:before {
      background: white;
      border-right: 2px solid #3893cd;
      bottom: -0.75rem;
      content: '';
      height: 1.5rem;
      left: calc(-0.75rem - 1px);
      position: absolute;
      transform: rotate(-45deg);
      width: 1.5rem;
      z-index: 0;
    }

    &:after {
      background: white;
      border-right: 2px solid #3893cd;
      top: calc(-1rem + 1px);
      content: '';
      height: 2rem;
      right: -1rem;
      position: absolute;
      transform: rotate(135deg);
      width: 2rem;
      z-index: 0;
    }

    li {
      grid-row: 1;
    }
  }

  &navigation-option {
    background: rgba(255, 255, 255, 0.5);
    border-top: 2px solid #3893cd;
    border-bottom: 2px solid #3893cd;
    border-left: 2px solid #3893cd;
    border-right: none;
    box-sizing: border-box;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 1.75rem;
    padding: 1rem 0;
    width: 100%;
  }
  
  &navigation-grid li:last-child .sheet-navigation-option {
    border-right: 2px solid #3893cd;
  }
}

.sheet-navigation-control[value="character"] ~ li > .sheet-navigation-option[name="act_navigation_character"],
.sheet-navigation-control[value="feats"] ~ li > .sheet-navigation-option[name="act_navigation_feats"],
.sheet-navigation-control[value="equipment"] ~ li > .sheet-navigation-option[name="act_navigation_equipment"],
.sheet-navigation-control[value="spells"] ~ li > .sheet-navigation-option[name="act_navigation_spells"],
.sheet-navigation-control[value="options"] ~ li > .sheet-navigation-option[name="act_navigation_options"] {
  background: none;
}

.sheet-character-tab {
  display: none;

  &--equipment, &--options {
    padding-top: 0.75rem;
  }
}

.sheet-navigation-control[value="character"] ~ .sheet-character-tab--character,
.sheet-navigation-control[value="feats"] ~ .sheet-character-tab--feats,
.sheet-navigation-control[value="equipment"] ~ .sheet-character-tab--equipment,
.sheet-navigation-control[value="spells"] ~ .sheet-character-tab--spells,
.sheet-navigation-control[value="options"] ~ .sheet-character-tab--options {
  display: block;
}
