@import './colors.scss';

.sheet-rolltemplate-base, .sheet-rolltemplate-attack {
  .sheet-template {
    background-color: $primary-background;
    background-image: url('https://raw.githubusercontent.com/primarilysnark/roll20-starfinder-character-sheet/master/assets/header-background.svg');
    border: 1px solid $primary-background;

    &__name {
      background: $true-white;
      color: $primary-background;
      font: bold 2rem/1 'Bebas Neue';
      padding: 0.75rem;
      border-bottom: 1px solid $primary-background;
      text-align: center;
    }

    &__roll {
      align-items: stretch;
      display: flex;
      justify-content: stretch;
    }

    &__row {
      align-items: center;
      background: transparentize($color: $true-white, $amount: 0.55);
      border-top: 1px solid $true-white;
      border-bottom: 1px solid transparent;
      display: flex;

      &:last-of-type {
        border-bottom: none;
      }

      &:nth-of-type(2n) .sheet-template__field {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 3rem 100%);
      }

      &:only-of-type .sheet-template__field {
        clip-path: polygon(3rem 0, 100% 0, 100% 100%, 0 100%);
      }
    }

    &__header {
      color: $true-white;
      flex: 1;
      font: bold 2rem/1 'Bebas Neue';
      padding: 0.75rem 1.5rem;
    }

    &__label {
      box-sizing: border-box;
      color: $true-white;
      font: bold 1.75rem/1 'Bebas Neue';
      padding: 0.75rem 1.5rem;
      width: 10rem;
    }

    &__field {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex: 1;
      height: 35px;
      justify-content: flex-end;
    }

    &__result {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 80px;
    }

    &__result, &__field {
      background: $true-white;
      box-sizing: border-box;
      clip-path: polygon(3rem 0, 100% 0, 100% 100%, 0% 100%);
      font: 1.5rem/1 'Source Sans Pro';
      padding: 0.7rem 1.5rem 0.7rem 0;
      text-align: right;
      white-space: break-spaces;

      .inlinerollresult {
        background: none;
        border: none;
        box-sizing: border-box;
        font: bold 2rem/1 'Source Sans Pro';
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;

        &.fullcrit {
          color: $deep-sky-blue;
        }

        &.fullfail {
          color: $jaffa-orange;
        }
      }

      &__critical {
        display: inline-block;
        font: 1.5rem/1 'Pictos';
        margin-top: 4px;
        vertical-align: middle;

        &--success {
          color: $deep-sky-blue;
        }

        &--failure {
          color: $jaffa-orange;
        }
      }
    }

    &__notes {
      background: #e6e6e6;
      border: 1px solid $primary-background;
      font: 1.4rem/1.5 'Source Sans Pro';
      margin: 0.5rem 0 1.5rem;
      padding: 0.5rem 1rem;
    }
  }
}

.message.you .sheet-rolltemplate-base .sheet-template__result .inlinerollresult {
  color: $primary-text;
}
