$bahama-blue: #245680;
$nepal-blue: #94aac0;
$true-white: #ffffff;
$jaffa-orange: #f38142;
$deep-sky-blue: #00b9f1;

$primary-background: $bahama-blue;
$primary-text: $true-white;
$secondary-background: $nepal-blue;

.sheet-rolltemplate-base {
  .sheet-template {
    background: $true-white;
    border: 1px solid $primary-background;

    &__name {
      background: $true-white;
      color: $primary-background;
      font: bold 2rem/1 'Bebas Neue';
      padding: 0.75rem;
      border-bottom: 1px solid $primary-background;
      text-align: center;
    }

    &__roll {
      align-items: center;
      background: $true-white;
      display: flex;
    }

    &__header {
      background-color: $primary-background;
      background-image: url('https://raw.githubusercontent.com/primarilysnark/roll20-starfinder-character-sheet/master/assets/header-background.svg');
      clip-path: polygon(0 0, 100% 0, calc(100% - 3rem) 100%, 0% 100%);
      color: $true-white;
      flex: 1;
      font: bold 2rem/1 'Bebas Neue';
      padding: 0.75rem 1.5rem;
    }

    &__result {
      margin: 0 1.5rem 0 2rem;

      .inlinerollresult {
        background: none;
        border: none;
        box-sizing: border-box;
        font: bold 2rem/1 'Source Sans Pro';
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;

        &.fullcrit {
          color: $deep-sky-blue;
        }

        &.fullfail {
          color: $jaffa-orange;
        }
      }

      &__critical {
        display: inline;
        font: 1.5rem/2rem 'Pictos';
        vertical-align: middle;

        &--success {
          color: $deep-sky-blue;
        }

        &--failure {
          color: $jaffa-orange;
        }
      }
    }

    &__notes {
      background: #e6e6e6;
      border: 1px solid $primary-background;
      font: 1.4rem/2 'Source Sans Pro';
      margin: 0.5rem 0 1.5rem;
      padding: 0.5rem 1rem;
    }
  }
}

.message.you .sheet-rolltemplate-base .sheet-template__result .inlinerollresult {
  color: $primary-text;
}
