@import './colors.scss';

.sheet- {
  &character-sheet {
    margin: 0 0 40px;
    min-width: 850px;
  }

  &spacer {
    display: inline-block;
    width: 16px;
  }

  &overview-grid {
    display: grid;
    grid-template-columns: 2fr;
    margin-bottom: 1rem;
  }

  &character-grid {
    &__row {
      display: grid;
      column-gap: 1rem;

      &--2-3-3 {
        grid-template-columns: 2fr 3fr 3fr;
      }

      &--4-2-2 {
        grid-template-columns: 4fr 2fr 2fr;
      }

      &--2-1-1-4 {
        grid-template-columns: 1fr 1fr 1fr 3fr;
      }
    }

    &__field label {
      font: bold 1.2rem 'Source Sans Pro';
      text-transform: uppercase;
    }
  }
}

input[name=attr_weapon_edit_mode][value="0"] ~ .sheet-grid-layout__repeating-edit {
  display: block;
}

input[name=attr_weapon_edit_mode][value="0"] ~ .sheet-grid-layout__repeating {
  display: none;
}

input[name=attr_weapon_edit_mode][value="1"] ~ .sheet-grid-layout__repeating-edit {
  display: none;
}

input[name=attr_weapon_edit_mode][value="1"] ~ .sheet-grid-layout__repeating {
  display: block;
}

.sheet-grid-layout__repeating-edit {
  border-radius: 4px;
  border: 2px solid #3893cd;
  margin: 0 0 8px;
  padding: 8px;
}

fieldset.repeating_weapons {
  & + .repcontainer:not(.editmode):empty {
    & ~ .repcontrol {
      text-align: center;

      .repcontrol_edit {
        display: none;
      }

      .repcontrol_add {
        background: #000000;
        border: none;
        border-radius: 4px;
        box-shadow: none;
        color: #ffffff;
        display: inline-block;
        font: bold 1.5rem/3rem 'Source Sans Pro';
        text-align: center;
        text-shadow: none;
        text-transform: uppercase;

        &::first-letter {
          color: transparent;
          margin-left: -1ch;
        }

        &:after {
          content: ' a Weapon';
        }
      }
    }

    & ~ .sheet-grid-layout__row--header {
      display: none;
    }
  }
}